/* Дополнительные стили */
body {
    padding-top: 56px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}


header {
   position: relative;
   height: calc(100vh - 56px);
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   text-align: center;
   overflow: hidden;
}

a.disabled {
    color: #90b4ce;
    pointer-events: none;
    cursor: not-allowed;
}

a.active {
    color: #3da9fc;
    font-weight: bold;
}

#bg-video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
   filter: brightness(0.7);
}

section {
   position: relative;
   padding: 1rem;
   height: 100vh;
   display: flex;
   font-size: 1.1rem;
   text-align: left;
   justify-content: center;
}

section > * {
    margin-top: 56px;
}


section:nth-child(2n) {
   background-color: #fffffe;
   color: rgb(9, 64, 103);
}


section:nth-child(2n-1) {
   color: #fffffe;
   background-color: rgb(16, 99, 159);
}

section:nth-child(2n-1) a {
    text-decoration: underline;
    color: #fffffe;
 }

 
 
 section:nth-child(2n) a {
     text-decoration: underline;
     color: rgb(9, 64, 103);
    }
section a:hover {
        text-decoration: underline;
        animation: hover 0.6s ease-in-out forwards;
     }

@keyframes hover {
    0% {
        color: inherit;
    }
    100% {
        color:#ef4565;
    }
}

.bottom-center {
    position: absolute;
    bottom: 3rem;
    left: auto;
}

.scroll-down {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 3rem;
    font-stretch: extra-expanded;
    cursor: pointer;
    animation: updown 2s infinite;
    opacity: 0.3;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.scroll-down:hover {
    color: #3da9fc;
    opacity: 1;
}

.navbar {
    --bs-navbar-active-color: #3da9fc;
}

.navbar-custom {
    background-color: #094067;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fffffe;
}

.navbar-custom .nav-link.disabled {
    color: #8a8a8a;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active {
    color: #3da9fc;
}

.navbar-custom .dropdown-menu {
    background-color: #094067;
}

.navbar-custom .dropdown-item {
    color: #fffffe;
}

.navbar-custom .dropdown-item:hover {
    background-color: #3da9fc;
    color: #fffffe;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7); /* Затемнение видео */
}

footer {
    background-color: rgba(48,49,54, 1);
    color: #fffffe;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
}


.footer-text {
    margin-bottom: 2rem;
}

footer div {
    margin-bottom: 15px;
}

footer svg {
    margin-right: 10px;
}

footer br {
    margin-bottom: 10px;
}

footer h3 {
    font-weight: 900;
    margin-bottom: 10px;
}

footer div a {
    color: #fffffe;
    text-decoration: none;
}

.footer-contacts {
    display:  flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.footer-links > li{
    margin-bottom: 5px;
}
.footer-links > h3{
    margin-bottom: 10px;
}

footer a:hover {
    animation: hover 0.6s ease-in-out forwards;
    color: rgb(239, 69, 101)
}


.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    position: relative;
}


footer .email-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1.5px solid rgb(37,37,37);
    border-radius: 0.25rem;
    color: #fffffe;
    background-color: rgb(39,39,37);
}

footer .email-input:focus {
    outline: none;
    animation: focus-input 0.3s ease-in-out forwards;
    border-color: rgb(239, 69, 101);
    box-shadow: 0 0 0 0.2rem rgba(239, 69, 101, 0.25);
}

footer .message-input {
    resize: none;
    width: 100%;
    min-height: 6em;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1.5px solid rgb(37,37,37);
    border-radius: 0.25rem;
    color: #fffffe;
    background-color: rgb(39,39,37);
}

footer .message-input:focus {
    outline: none;
    animation: focus-input 0.3s ease-in-out forwards;
    border-color: rgb(239, 69, 101);
    box-shadow: 0 0 0 0.2rem rgba(239, 69, 101, 0.25);
}

@keyframes focus-input {
    0% {
        border-color: rgb(37,37,37);
    }
    100% {
        border-color: rgb(239, 69, 101);
    }
}

footer .submit-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    color: #fffffe;
    background-color: rgb(239, 69, 101);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0 0 auto;
}

footer .submit-button:hover {
}